DATABASE_URL=postgres://femto:femto@localhost:5432/axum_boilerplate
DATABASE_TEST_URL=postgres://femto:femto@localhost:5432/axum_boilerplate_test
MICROSOFT_CLIENT_ID=
MICROSOFT_CLIENT_SECRET=
MICROSOFT_TENANT_ID=
MICROSOFT_REDIRECT_URL=http://localhost:3000/microsoft/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=http://localhost:3000/google/callback
POLARS_FMT_MAX_ROWS=50
