{% extends "layout.html" %}
{% block title %}
  {% if title %}
    {{title}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock title %}
{% block content %}
<table class="w-100 h-100 table table-bordered border"
  style="table-layout: fixed;">
  {% for i in [0, 1, 2, 3, 4] %}
    <tr>
      {% for j in [0, 1, 2, 3, 4, 5, 6] %}
        <td>
          <div class="border p-0"
            style="height: 100%;">
            {{i}}, {{j}}
          </div>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}
