{% extends "layout.html" %}
{% block title %}
  {% if title %}
    {{title}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock title %}
{% block content %}
  <div hx-get="/calendar/content"
    hx-vals="js:{...function() {
      var today = new Date();
      var date_params = {
        'year': today.getFullYear(),
        'month': today.getMonth() + 1,
        'day': today.getDate()
      };
      return date_params;
    }()}"
    hx-target="#content"
    hx-trigger="load">
  </div>
{% endblock content %}
