{% extends "layout.html" %}
{% block title %}
  {% if title %}
    {{title}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock title %}
{% block content %}
<table class="w-100 v-100 table table-bordered border"
  style="height: 80vh;">
  <tr>
    <th>Mon</th>
    <th>Tue</th>
    <th>Wed</th>
    <th>Thu</th>
    <th>Fri</th>
    <th>Sat</th>
    <th>Sun</th>
  </tr>
  
  {% for i in [0, 1, 2, 3, 4] %}
    <tr>
      {% for j in [0, 1, 2, 3, 4, 5, 6] %}
        <td>
          <div>
            {{i}}, {{j}}
          </div>
        </td>
      {% endfor %}
    </tr>
  {% endfor %}
</table>
{% endblock content %}
