{% extends "layout.html" %}
{% block title %}
  {% if title %}
    {{title}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="mt-3 border-5">
    <button 
      id="button-new"
      hx-get="/goals/new"
      hx-target="#modal-content"
      hx-trigger="click"
      data-bs-toggle="modal"
      data-bs-target="#modal"
      class="btn btn-primary"
      style="
        font-size: 1em;
        line-height: 1em;
      "
    >
      New
    </button>
  </div>
  <div id="goals-table">
    {% include "fragments/goals-table.html" %}
  </div>
  <script>
    document.body.addEventListener("trigger_table_reload", function(evt) {
      htmx.ajax("GET", "/goals/table", "#goals-table");
    });
  </script>
{% endblock content %}
