{% extends "layout.html" %}
{% block title %}
  {% if title %}
    {{title}}
  {% else %}
    {{super()}}
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="mt-2 border-5 w-100">
    <button 
      id="button-new"
      hx-get="/goals/new"
      hx-target="#goals-modal-content"
      hx-trigger="click"
      data-bs-toggle="modal"
      data-bs-target="#goals-modal"
      class="btn btn-primary">
      New
    </button>
  </div>
  <div id="goals-table">
    {% include "fragments/goals-table.html" %}
  </div>
  <!-- modal -->
  <div id="goals-modal"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div id="goals-modal-content" class="modal-content">
      </div>
    </div>
  </div>
  <script>
  var goalModal = new bootstrap.Modal('#goals-modal');
  function closeGoalModal() {
    goalModal.hide();
    history.pushState({}, "", "/goals");
  };
  document.body.addEventListener("trigger_close", function(evt){
    closeGoalModal();
  });
  document.body.addEventListener("trigger_table_reload", function(evt) {
    htmx.ajax("GET", "/goals/table", "#goals-table");
  });
  </script>
  <!-- end modal -->
{% endblock content %}
