<div class="modal-header">
  <h5 class="modal-title">
    {#
    {% if edit %}
      Edit Goal
    {% else %}
    #}
      New Weekly Goal
    {#
    {% endif %}
    #}
  </h5>
</div>
<form>
  <div class="modal-body">
    <label for="goal-select" class="form-label">Please select a goal</label>
    <select id="goal-select" class="form-select" aria-label="Goal select">
      <option hidden disabled selected value> --- </option>
      {% for goal in goals %}
        <option value="{{ goal.id }}">{{ goal.title }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="model-footer">
    footer
  </div>
</form>
