  <div class="h-100 pt-3">
    <div class="d-flex flex-column h-100">
      <div class="d-flex flex-row">
        <button 
          class="btn btn-primary"
          style="
            line-height: 1em;
            font-size: 1em;
          "
          hx-get="/calendar/week/content"
          hx-vals='js:{...function() {
            var today = new Date();
            var date_params = {
              "year": today.getFullYear(),
              "month": today.getMonth() + 1,
              "day": today.getDate()
            };
            return date_params;
          }()}'
          hx-target='#calendar-content'
          hx-push-url='/calendar/week'
        >Today</button>
        <a
          hx-get="/calendar/week/content"
          hx-vals='{
            "year": {{ prev_week_params["year"] }},
            "month": {{ prev_week_params["month"] }},
            "day": {{ prev_week_params["day"] }}
          }'
          hx-trigger='click, keyup[key=="ArrowLeft"] from:body'
          hx-target='#calendar-content'
          hx-push-url='/calendar/week/{{ prev_week_params["year"] }}/{{ prev_week_params["month"] }}/{{ prev_week_params["day"] }}'
          style="
            margin-left: 1.5rem;
            font-size: 1.5rem;
            vertical-align: middle;
            cursor: pointer;
          "
        >
          <i class="bi bi-chevron-left"></i>
        </a>
        <a
          hx-get="/calendar/week/content"
          hx-vals='{
            "year": {{ next_week_params["year"] }},
            "month": {{ next_week_params["month"] }},
            "day": {{ next_week_params["day"] }}
          }'
          hx-trigger='click, keyup[key=="ArrowRight"] from:body'
          hx-target='#calendar-content'
          hx-push-url='/calendar/week/{{ next_week_params["year"] }}/{{ next_week_params["month"] }}/{{ next_week_params["day"] }}'
          style="
            margin-left: 1rem;
            font-size: 1.5rem;
            vertical-align: middle;
            cursor: pointer;
          "
        >
          <i class="bi bi-chevron-right"></i>
        </a>
        <span 
          style="
            margin-left: 1.5rem;
            font-size: 1.5rem;
            vertical-align: middle;
          "
        >{{ week_string }}</span>
        <div class="flex-grow-1"></div>
        <button
          class="btn btn-primary"
          style="
            line-height: 1em;
            font-size: 1em;
          "
          hx-get="/calendar/month/content"
          hx-vals='js:{...function() {
            var today = new Date();
            var date_params = {
              // "year": today.getFullYear(),
              // "month": today.getMonth() + 1,
              // "day": today.getDate()
              "year": {{ start_date.year }},
              "month": {{ start_date.month }},
              "day": {{ start_date.day }}
            };
            return date_params;
          }()}'
          hx-target='#calendar-content'
          hx-push-url='/calendar/month'
        >Month</button>
      </div>
      <div
        style="
          margin-top: 1rem;
          display: grid;
          grid-template-columns: auto repeat(7, 1fr);
        "
      >
        <div class="border-start border-top border-bottom px-2"
          style="
            grid-row: 1 / 3;
            font-weight: bold;
            font-size: 0.75em;
            display: flex;
            align-items: center;
            justify-content: center;
          "
        >
          <span>Goals</span>
        </div>
        {% for day_of_week in days_of_week %}
          <div 
            class="border-start border-top
              {% if loop.last %}
                border-end
              {% endif %}
            "
            style="
              font-weight: bold;
              font-size: 0.75em;
              text-align: center;
            "
          >
            {{ day_of_week }}
          </div>
        {% endfor %}

        {% for day in days %}
          <div
            class="border-start border-bottom
              {% if loop.last %}
                border-end
              {% endif %}
            "
            style="
              font-weight: bold;
              font-size: 0.75em;
              text-align: center;
            "
          >
            {{ day.display_str }}
          </div>
        {% endfor %}

        {% for week_goal in goals %}
          {% set goal = week_goal.goal %}
          {% set days = week_goal.days %}
            
          <div class="border-start border-bottom">
            {{ goal.description }}
          </div>

          {% for day in days %}
            <div 
              class="border-start border-bottom
                {% if loop.last %}
                  border-end
                {% endif %}
              "
              style="
                text-align: center;
              "
            >
              {% if day.applied_goal %}
                <span style="color: #ffce12;">
                  {% for i in range(end=day.applied_goal.points_possible) %}
                    <i class="bi bi-star"></i>
                  {% endfor %}
                </span>
              {% endif %}
            </div>

          {% endfor %}

        {% endfor %}

      </div>
      <div class="d-flex flex-row mt-3">
        <button 
          class="btn btn-primary"
          style="
            font-size: 1em;
          "
          hx-get="/calendar/applied-goal/week"
        >New Weekly Goal</button>
      </div>
    </div>
  </div>
