  <div class="h-100 pt-3">
    <div class="d-flex flex-column h-100">
      <div class="d-flex flex-row">
        <button 
          class="btn btn-primary"
          style="
            line-height: 1em;
            font-size: 1em;
          "
          hx-get="/calendar/month/content"
          hx-vals='js:{...function() {
            var today = new Date();
            var date_params = {
              "year": today.getFullYear(),
              "month": today.getMonth() + 1,
              "day": today.getDate()
            };
            return date_params;
          }()}'
          hx-target='#content'
          hx-push-url='/calendar/month'
        >Today</button>
        <a
          hx-get="/calendar/month/content"
          hx-vals='{
            "year": {{ prev_month_params["year"] }},
            "month": {{ prev_month_params["month"] }},
            "day": {{ prev_month_params["day"] }}
          }'
          hx-target='#content'
          hx-push-url='/calendar/month/{{ prev_month_params["year"] }}/{{ prev_month_params["month"] }}/{{ prev_month_params["day"] }}'
          style="
            margin-left: 1.5rem;
            font-size: 1.5rem;
            vertical-align: middle;
            cursor: pointer;
          "
        >
          <i class="bi bi-chevron-left"></i>
        </a>
        <a
          hx-get="/calendar/month/content"
          hx-vals='{
            "year": {{ next_month_params["year"] }},
            "month": {{ next_month_params["month"] }},
            "day": {{ next_month_params["day"] }}
          }'
          hx-target='#content'
          hx-push-url='/calendar/month/{{ next_month_params["year"] }}/{{ next_month_params["month"] }}/{{ next_month_params["day"] }}'
          style="
            margin-left: 1rem;
            font-size: 1.5rem;
            vertical-align: middle;
            cursor: pointer;
          "
        >
          <i class="bi bi-chevron-right"></i>
        </a>
        <span 
          style="
            margin-left: 1.5rem;
            font-size: 1.5rem;
            vertical-align: middle;
          "
        >{{ month_string }}</span>
        <div class="flex-grow-1"></div>
        <button 
          class="btn btn-primary"
          style="
            line-height: 1em;
            font-size: 1em;
          "
          hx-get="/calendar/week/content"
          hx-vals='js:{...function() {
            var today = new Date();
            var date_params = {
              "year": today.getFullYear(),
              "month": today.getMonth() + 1,
              "day": today.getDate()
            };
            return date_params;
          }()}'
          hx-target='#content'
          hx-push-url='/calendar/week'
        >Week</button>
      </div>
      <div class="flex-grow-1 mt-3"
        style="
          display: grid;
          grid-template-columns: repeat(7, 1fr);
          grid-template-rows: auto repeat({{ weeks | length }}, 1fr);
          min-width: 0;
          min-height: 0;
        "
      >
        {% for day_of_week in days_of_week %}
          <div 
            class="border-start border-top
              {% if loop.last %}
                border-end
              {% endif %}
            "
            style="
              font-weight: bold;
              font-size: 0.75em;
              text-align: center;
            "
          >
            {{ day_of_week }}
          </div>
        {% endfor %}

        {% for week in weeks %}
          {% for day in week %}
            <div 
              class="border-start border-bottom
                {% if loop.last %}
                  border-end
                {% endif %}
              "
              style="
                position: relative;
                overflow: hidden;
                min-width: 0;
                min-height: 0;
                font-size: 0.75em;
              ">
              <div
                style="
                  font-weight: bold;
                  text-align: center;
                  position: sticky;
                  top: 0px;
                  background: #ffffff;
              ">
                {{ day.display_str }}
              </div>
              <div class="mx-2">
                Calendar content
              </div>
            </div>
          {% endfor %}
        {% endfor %}
      </div>


    </div>


  </div>
